In [11]:
myTuple="elma", [1,2,3], (11,12,13)
print(type(myTuple))

<class 'tuple'>

In [12]:
for name in ('John', 'Kate'):
    print("Merhaba", name)

Merhaba John
Merhaba Kate

In [ ]:
a=['a','b'] #lists
b=('a','b') #tuple
c={'a','b'} #sets

In [15]:
my_List=list("InfotechAcademy")
print(my_List[0:3])
print(my_List[-3:8:-1])
print(my_List[::-1])

['InfotechAcademy']
[]
['InfotechAcademy']

In [9]:
print(("re",) * 4)

('re', 're', 're', 're')

In [10]:
my_tuple ="ayva"
print('a' in my_tuple)

True

In [21]:
car_list =['Toyota', 'BMW','Audi','Tesla']
car_list[2:2]=['Mercedes','Ford']
car_list[0:0]=['Renault']
car_list

['Renault', 'Toyota', 'BMW', 'Mercedes', 'Ford', 'Audi', 'Tesla']

In [ ]:
#Slicing yontemi ile ilgili eleman ekleme

In [27]:
myList= [10,2,5,8]
del myList[0:2]
len(myList)

2

In [37]:
vals=['a','b','c','d']
vals[1], vals[3]= vals[0],vals[2]
vals
#print('b' in vals) False
#print('a' not in vals) False

['a', 'a', 'c', 'c']

In [54]:
list1=[1,2,3]
list2=[]
add=0
for number in list1:
    add += number
    list2.append(add)
print(list2)
list1.append(6)
list1.extend([7,8])
list1.insert(3,4)
list1.insert(4,5) #insert methodu verdigimiz index degerine eleman ekler
list1.insert(len(list1),'a')
print(list1)

[1, 3, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 'a']

In [64]:
a=3
b=1
c=2
lst =[a,b,c]
lst.sort()
lst.reverse()
print(lst)
sorted(lst)

[3, 2, 1]

[1, 2, 3]

Siralama islemi yapiyoruz burda listenin elemanlarinin yeri degisir ama sorted da ana liste degismez sadece siralama yapar

In [65]:
str="annoying"
str.count('n')

3

In [66]:
list1=[1,3]
list2=list1
list1[0]=2
print(list2)

[2, 3]

listeleri birbirine eslestirirsek birini degistirince digerini de degistiriyor

In [71]:
a= [method for method in dir(list) if not "__"]
a
[[x,x**2] for x in range(7)] #Sayinin kendisini ve karesini yan yana yazar

[[0, 0], [1, 1], [2, 4], [3, 9], [4, 16], [5, 25], [6, 36]]

In [72]:
#Tuples
t=('apple',)
type(t)

tuple

In [75]:
my_list=[1,2,3]
my_tuple=tuple(my_List)
type(my_tuple) #tuple
type(my_List) #list

list

In [ ]:
# Tuple lar degismez ama icindeki listeler degisebilir

In [ ]:
#Set ler kumelerdir {} 'le olusturulur

In [77]:
a= {}
b=set()
print(type(a), type(b))

<class 'dict'> <class 'set'>

In [80]:
my_set = {3, "Ietto", c}
print(type(my_set))

<class 'set'>

In [88]:
my_set = {'3', "Ietto", '(a, b, c)'}
print(type(my_set))
my_set.discard(4)
my_set.remove("3")
my_set

<class 'set'>

{'(a, b, c)', 'Ietto'}

In [93]:
A={1,2,3}
B={3,4,5}
C={9,8}
print(A^B)
print(A&B)
A.isdisjoint(C)

{1, 2, 4, 5}
{3}

True

In [95]:
A={1,2,3}
B={3,4,5}
C={9,8}
A.issubset(B) #Alt kumesi mi? issubset
A.issuperset(B) #A B yi kapsiyor mu?

False

In [100]:
A={1,2,3}
B={3,4,5}
C={9,8}
A.intersection_update(B)
A
print(A|B)

{3, 4, 5}

In [105]:
A={1,2,3}
B={3,4,5}
C={9,8}
print(A-B)
A.symmetric_difference_update(B)
A
print(A^B)

{1, 2}
{1, 2, 3}

In [117]:
my_dict={'name':'sema', 'lastname':'istek'} #dictionary olusturur
my_dict.items()

dict_items([('name', 'sema'), ('lastname', 'istek')])

In [118]:
my_dict.popitem()

('lastname', 'istek')

In [119]:
my_dict

{'name': 'sema'}

In [121]:
my_dict.clear()
print(my_dict)

{}